<div class="row">
		<h1 id="cv-title"><%= t(:cv_title) %></h1>
	</div>
	<div class="row">
		<div id="09" class="large-2 columns year">
			<h3>2009</h3>
			<ul>
				<li><%= t(:YIAP_1) %></li>
			</ul>
			<h3>2010</h3>
			<ul>
				<li><%= t(:atcc) %></li>
				<li>武漢⼤學康騰案例分析國際邀請賽：冠軍</li>
				<li>「阿廣告⽩吧！」企業廣告影片大賽創辦團隊</li>
			</ul>
			<h3>2011</h3>
			<ul>
				<li><%= t(:YIPA_2) %></li>
				<li>新光盃次世代網路⻘年創業競賽亞軍</li>
			</ul>
			<h3>2012</h3>
			<ul>
				<li>創辦「WanderWorld地球漫遊」旅⾏社群服務</li>
			</ul>
			<h3>2013</h3>
			<ul>
				<li>海軍陸戰隊退伍</li>
				<li>AppWorks 之初創投 7th 創業育成計劃</li>
				<li>國立中山大學企業管理學系畢業</li>
			</ul>
		</div>
	</div>
</div>