<div class="cover" data-stellar-background-ratio="0.1">
	<h1>你好，我是 JEFFREY</h1>
	<h3>因為我們只能活一次，所以要誠實對待自己的心願</h3>
</div>
<div class="cv" data-stellar-background-ratio="0.2">
	<h3>CV</h3>
	<p>WOOOO</p>
</div>


<div class="project" data-stellar-background-ratio="0.2">
	<h3>Project skill</h3>
</div>
<div class="coding" data-stellar-background-ratio="1">
	<h3>coding skill</h3>
</div>
<div class="travel-experience" data-stellar-background-ratio="0.2">
	<h3>travel experience</h3>
</div>
<div class="requests" data-stellar-background-ratio="0.2">
	
</div>
<div class="contact" data-stellar-background-ratio="0.2">
	<h3>contact me</h3>
</div>