<div class="cover">
	<div class="row">
		<div class="large-7 columns right">
			<h1 class="right">你好，我是 JEFFREY</h1>
			<h3 class="right">我們只能活一次<br/>所以要誠實面對自己</h3>
		</div>
	</div>
	<div class="row">
		<div class="large-5 columns right">
			<h6 class="right">我始終相信，人要不負自己的期望，必須要積極並且自律，才有可能實現⺫標。如果我的能力、⼈格特質與價值觀讓您產⽣興趣、符合貴公司職缺需求，請不吝給予指教與建議！</h6>
		</div>
	</div>
</div>
<div class="cv">
	<div class="row">
		<h1 id="cv-title">經歷簡介</h1>
	</div>
	<img src="<%=asset_path('cv_arrow.png')%>" id='cv-arrow'>
	<div class="columns">
		<div id="09" class="large-2 columns year">
			<h3>2009</h3>
			<ul>
				<li>青輔會98年⻘年國際參與⾏動計劃：港都的奇幻旅程—雪梨參訪計劃</li>
				<li>⻘輔會98年校園志⼯工推廣⼤大使：⾛唱環島—⼋八⾵災募款⾏動</li>
			</ul>
		</div>
		<div id="10" class="large-2 columns year">
			<h3>2010</h3>
			<ul>
				<li>ATCC商業個案競賽：晉級複賽（15強）</li>
				<li>武漢⼤大學康騰案例分析國際邀請賽：冠軍</li>
				<li>「阿廣告⽩吧！」企業廣告影片大賽創辦團隊</li>
			</ul>
		</div>
		<div id="11" class="large-2 columns year">
			<h3>2011</h3>
			<ul>
				<li>青輔會100年⻘年國際參與⾏動計劃：The Big Venture—倫敦社會企業參訪計劃</li>
				<li>新光盃次世代網路⻘年創業競賽亞軍</li>
			</ul>
		</div>
		<div id="12" class="large-2 columns year">
			<h3>2012</h3>
			<ul>
				<li>創辦「WanderWorld地球漫遊」旅⾏社群服務</li>
			</ul>
		</div>
		<div id="13" class="large-2 columns year">
			<h3>2013</h3>
			<ul>
				<li>海軍陸戰隊退伍</li>
				<li>AppWorks 之初創投 7th 創業育成計劃</li>
			</ul>
		</div>
		<div id="goes_on" class="large-2 columns year">
			<h2>繼續前進！</h2>
		</div>
	</div>
</div>
<div class="project">
	<div class="row">
		<div class="large-10 columns right pull-2 project-title">
			<h1 class="right">大學時期的專案經驗</h1>
		</div>
	</div>
	<div class="row">
		<div class="project-intro">
			<h6 class="right">我始終相信，人要不負自己的期望，必須要積極並且自律，才有可能實現⺫標。如果我的能力、⼈格特質與價值觀讓您產⽣興趣、符合貴公司職缺需求，請不吝給予指教與建議！</h6>
		</div>
	</div>
</div>
<div class="coding">
	<div class="row">
		<h1 id="coding-title">從零開始，我的程式之路</h1>
		<div id="coding-intro">
			<p>⼤四時，我和夥伴共同開發了—「WanderWorld地球漫遊」旅⾏行社群服務，提供旅⾏者⼀個結合地圖、時間軸和行程，清楚呈現表現旅行故事的遊記平台。</p>
			<p>開發服務的過程中，我擔任專案管理和UX Designer。這是我第⼀次進⾏Web App開發、第⼀次擔任設計師、第⼀次真正撰寫HTML、CSS、Javascript；許許多多的第⼀次，讓我⼀邊前進，⼀邊不斷充實⾃己的眼界和能力。最重要的是，創業經歷讓我更加確信，我對於「透過網路創新服務來改善⼈們生活」的熱情，是真切⽽無可取代的。!</p>
			<p>⾯面對這個時代最重要的變⾰革，儘管還沒有什麼成果，但我至少已經拿起衝浪板，投⾝到這波大浪中了。不斷應用學習到的技能、同時繼續學習新知，這就是創業所帶給我的最⼤收獲。現在的我正在持續精進Ruby on Rails的開發技術，我深信有了基礎創業經驗和技術的我，將能夠在貴公司中貢獻所長。</p>
		</div>
		<div id="octocard"></div>
		<div class="row">
		<div class="portofolio" id="wanderworld">
			<a href="http://www.wanderworld.com.tw" target="blank">
				<img src="<%=asset_path('wanderworld.png')%>">
			</a>
		</div>
		<div class="portofolio" id="learningbar">
			<a href="#" target="blank">
				<img src="<%=asset_path('learningbar.png')%>" >
			</a>
		</div>
	</div>
	</div>
</div>
<div class="travel-experience">
	<div class="row">
		<h1>travel experience</h1>
	</div>
</div>
<!-- <div class="requests">
	
</div> -->
<div class="contact">
	<div class="row">
		<h1>contact me</h1>
	</div>
</div>