<div class="cover" data-stellar-background-ratio="0.1">
	<div class="column">
		<div class="right">
			<h1>你好，我是 JEFFREY</h1><br/>
			<h3 class="right">因為我們只能活一次，所以要誠實對待自己的心願</h3>
		</div>
	</div>
	

	
</div>
<div class="cv" data-stellar-background-ratio="0.2">
	<!-- <div class="row"> -->
		<h1 id="fade">經歷簡介</h1>
		<img src="<%=asset_path('cv-arrow.png')%>" id='cv-arrow'>
		<div class="columns">
			<div id="09" class="large-2 columns year">
				<h3>2009</h3>
				<ul>
					<li>青輔會98年⻘年國際參與⾏動計劃：港都的奇幻旅程—雪梨參訪計劃</li>
					<li>⻘輔會98年校園志⼯工推廣⼤大使：⾛唱環島—⼋八⾵災募款⾏動</li>
				</ul>
			</div>
			<div id="10" class="large-2 columns year">
				<h3>2010</h3>
				<ul>
					<li>ATCC商業個案競賽：晉級複賽（15強）</li>
					<li>武漢⼤大學康騰案例分析國際邀請賽：冠軍</li>
					<li>「阿廣告⽩吧！」企業廣告影片大賽創辦團隊</li>
				</ul>
			</div>
			<div id="11" class="large-2 columns year">
				<h3>2011</h3>
				<ul>
					<li>青輔會100年⻘年國際參與⾏動計劃：The Big Venture—倫敦社會企業參訪計劃</li>
					<li>新光盃次世代網路⻘年創業競賽亞軍</li>
				</ul>
			</div>
			<div id="12" class="large-2 columns year">
				<h3>2012</h3>
				<ul>
					<li>創辦「WanderWorld地球漫遊」旅⾏社群服務</li>
				</ul>
			</div>
			<div id="13" class="large-2 columns year">
				<h3>2013</h3>
				<ul>
					<li>海軍陸戰隊退伍</li>
					<li>AppWorks 之初創投 7th 創業育成計劃</li>
				</ul>
			</div>
			<div id="goes_on" class="large-2 columns year">
				<h3>繼續前進！</h3>
			</div>
		</div>
		
	<!-- </div> -->
	
</div>


<div class="project" data-stellar-background-ratio="0.2">
	<div class="row">
		<h1>Project skill</h1>
	</div>
</div>
<div class="coding" data-stellar-background-ratio="1">
	<div class="row">
		<h1>coding skill</h1>
	</div>
</div>
<div class="travel-experience" data-stellar-background-ratio="0.2">
	<div class="row">
		<h1>travel experience</h1>
	</div>
</div>
<div class="requests" data-stellar-background-ratio="0.2">
	
</div>
<div class="contact" data-stellar-background-ratio="0.2">
	<div class="row">
		<h1>contact me</h1>
	</div>
</div>