@import 'foundation_and_overrides';
@mixin cover-block{
	background-size: 100% !important;
	height: 650px;
	h1,h2,h3,h4,h5,h6,p,span,i{
		margin: 0px;
	}
}
@mixin white-color{
	color: white;
	h1,h2,h3,h4,h5,h6,p,span,i{
		color:white;
	}
}
body{
	background: black;
}
.cover{
	@include cover-block;
	background: image-url("jeffrey_main_cover.jpg");
	@include white-color;
	padding-top: 3em;
	text-align: right;
	h1{
		color: #f39c12;
	}
	h6{
		margin-top: 2em;
		text-indent: 2em;
		text-align: left;
	}
	#features{
		@include grid-column(
			$columns:4,
			$push:8);
		margin-top: 2em;
		background:#f39c12;
		border-radius: 5px;
		text-align: left;
	}
}
.cv{
	@include cover-block;
	width: 100%;
	background-color: #f39c12;
	img{
		position: relative;
	}
	h1{
		color: white;
		position: relative;
	}
	h3,p{
		margin-top: 0px;
		color: black;
	}
	.year{
		padding: 5px 2px;
		position: relative;
		min-height: 200px;
		ul{
			background-color: rgba(255,255,255,0.9);
			width: 100%;
			border-radius: 5px;
			min-height: 200px;
			padding: 1em 1.2em;
			margin: 0;
		}	
		#goes_on{
			height: 200px;
			h3{
				position: absolute;
				top: 50%;
			    /*margin: -15% 0 0 -25%;*/
			}
		}
	}
}
.project{
	@include cover-block;
	background: image-url("jeffrey_at_demoday.jpg") no-repeat fixed;
	@include white-color;
	.project-title{
		@include grid-column(
			$columns:6,
			$push:5
		);
		margin: 1em 0;
		text-align: right;
	}
	.project-intro{
		@include grid-column(
			$columns:6,
			$pull:1,
			$float:right
		);
		background: rgba(51, 51, 51, 0.8);
		text-indent: 2em;
		padding: 1em;
	}
	.orbit-slider{
		background: rgba(255,255,255,0.5);
		.orbit-caption{
			padding: 0 1em;
		}
	}
}
.coding{
	@include cover-block;
	width: 100%;
	background: image-url("coding_background.png") no-repeat fixed;
  	filter: blur(5px);
	@include white-color;
	#coding-intro{
		@include grid-column(
			$columns:8
			);
		margin: 2em 0;
		text-indent: 2em;
	}
	#octocard{
		@include grid-column(
			$columns:4,
			$float:right
		);
		margin: 2em 0;
	}
	.portofolio{
		@include grid-column(
			$columns:3);
	}
}
.travel-experience{
	@include cover-block;
	background: image-url("71650008.jpg") no-repeat fixed;
	@include white-color;

}
.contact{
	background-color: black;
	height: 600px;
	@include white-color;
	.contact-title{
		@include grid-column();
	}
	.about-me-intergration{
		@include grid-column(
			$columns:8
		);
	}
	.contact-method{
		@include grid-column(
			$columns:4);
		margin-top: 10px;
		.email-me-button{
			@include button(
				$bg:#f39c12,
				$radius:true
				);
			padding: 5px 7px;
			&:hover{
				box-shadow:inset 0 -2px 0 rgba(0,0,0,0.27);
			};
		}
		.phone-number{
			@include button(
				$radius:true
				);
			padding: 5px 7px;
			&:hover{
				box-shadow:inset 0 -2px 0 rgba(0,0,0,0.27);
			};
		}
	}
	.blockquote{
		@include grid-row();
		margin-top: 10em;
		h1, i{
			text-align: center;
			color: rgba(150,150,150,1)!important;
			vertical-align: top;
		};
		i{

			font-size:0.5em;
			margin-bottom: 20px;
		}
		
	}
}